/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --bg-color: #000028;
  --content-color: #F1B2CE;
  --menu-btn-color: #FF0070;
  --bg-image: url("../images/cover-image-dark.png");
  --rec-visible: block;
}