/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --bg-color: #FFF1F7;
  --content-color: #353430;
  --menu-btn-color: #353430;
  --bg-image: url("../images/cover-image-light.png");
  --rec-visible: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --bg-color: #FFF1F7;
    --content-color: #353430;
    --menu-btn-color: #353430;
    --bg-image: url("../images/cover-image-light.png");
    --rec-visible: none;
  }
}