/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --bg-color: #000028;
  --content-color: #F1B2CE;
  --menu-btn-color: #FF0070;
  --bg-image: url("../images/cover-image-dark.png");
  --font-fam: 'IBM Plex mono';
  --rec-visible: block;
  --section-gap: 20px;
  --card-gap: 10px;
  --global-padding: 10px;

  @media (width >= 768px) {
    --global-padding: 20px;
  }
}